
body {
  background-color: #a9a9f5; 
  color: #4B0082; 
}
.bg-lavender {
  background-color: #8f8ff7 
}
.footer-dark {
  background-color: #9370DB 
}
.card {
  background-color: #D8BFD8; 
  border: none;
}
.card-title,
.card-text {
  color: #4B0082;
}
.navbar-lavender .navbar-nav .nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}
.btn-primary {
  background-color: #9370DB;
  border-color: #7A5AC9;
}

.btn-primary:hover {
  background-color: #7A5AC9;
  border-color: #684AB5;
}
body { background-color: #a5a5e7; }  
